h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    background-color: rgb(255, 0, 76);
    text-align: center;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-align: center;
}

body{
    background-color: gainsboro;
}

a{
    color: black;
    text-decoration: underline;
}

@media (hover: hover) {
    a:hover {
      color: #681270;
    }
  }

nav{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    outline: solid;
    outline-width: 3px;
    outline-color: black;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.gladiator{
    width: 1000px;
    height: 450px;
    display: block;
    margin-left: 15%;
}

footer{
    background-color: #00D1B2;
}